.items{
    display: flex;
    border: 1px solid black;
    float: left;
    width: 150px;
    height: 100px;
    padding: 70px;
    margin: 70px;
    font-size: 30px;
    font-style: oblique;
    border-radius: 3000PX;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqng_pCMNStpFFXVQBGOiJ8deBsBkfneIFdg&s");

}

.dep-head{
    text-align: center;
    border: 1px;
    font-size: 20px;
    font-style: italic;
    text-wrap: inherit;
}